# 数据库设置
MYSQL_DATABASE=backend
MYSQL_ROOT_PASSWORD=password

# 网站设置
NGINX_HOST=www.hostname.com

# 微信SDK设置
WX_APPID=wxappid
WX_APPSECRET=wxappsecret
WX_CHECK_TEMPLATE_ID=wxchecktemplateid
WX_SIGN_TEMPLATE_ID=wxsigntemplateid